<ul>
  <a href="/venues">Venues</a>
  <a href="/cities">Cities</a>
</ul>
<% @venues.each do |venue|  %>
  <h3>Name: <%= venue.name %></h3>
  <p>Capacity:<%= venue.capacity %></p>
  <p>Indoor: <%= venue.indoor %></p>
<% end %>
