<ul>
  <a href="/cars">Cars</a>
  <a href="/dealers">Dealers</a>
</ul>
<h1>Dealers</h1>
<% @dealers.in_order.each do |dealer| %>
  <h3><%= dealer.name %></h3>
  <p>Created: <%= dealer.created_at %></p>
<% end %>