<ul>
  <a href="/cars">Cars</a>
  <a href="/dealers">Dealers</a>
</ul>
<%= link_to "New Dealer", "/dealers/new" %>
<h1>Dealers</h1>
<% @dealers.in_order.each do |dealer| %>
  <h3><%= dealer.name %></h3>
  <p><%= dealer.zip %></p>
  <p>Created: <%= dealer.created_at %></p>
<% end %>

