<ul>
  <a href="/venues">Venues</a>
  <a href="/cities">Cities</a>
</ul>
<h1>City: <%= @city.name %></h1>
<h3>Population: <%= @city.population %></h3>
<h3>Coastal: <%= @city.coastal %></h3>
<p>Number of venues: <%= @city.count_venues %></p>
