<ul>
  <a href="/cars">Cars</a>
  <a href="/dealers">Dealers</a>
</ul>
<h1>Cars</h1>
<% @cars.is_new?.each do |car| %>
  <h3>Make: <%= car.make %></h3>
  <h4>New: <%= car.new %></h4>
  <h4>Model Year: <%= car.year %></h4>
  <h4>Vin: <%= car.vin %></h4>
<% end %>